@use 'base/variables' as v;
@use 'base/mixins' as m;

.formularioAuth{
    width: 100%;
    margin-top: 4.5rem;

    .campo{
        display: flex;
        margin-bottom: 2rem;
        align-items: center;
        label{
            flex: 0 0 10rem;
            color: v.$blanco;
        }
        input{
            flex: 1;
            border: none;
            outline: none;
            padding: 1.25rem;
            background-color: lighten(v.$blanco, 10%);
            border-radius: 1rem;
    
            &:disabled{
                background-color: lighten(v.$negro, 80%);
                cursor: not-allowed;
            }
        }
    }
}