@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard{
    min-height: 100vh;

    @include m.tablet{
        display: flex;
    }

    .principal{
        @include m.tablet{
            flex: 1;
        }
        
    }

    .contenido{
        padding: 2rem;

        .nombre-pagina{
            font-size: 3.5rem;
            text-align: center;
        }
    }

    .contenedor-sm{
        max-width: 70rem;
    }

    .formulario{
        margin-top: 2.5rem;

        input:not([type="submit"]){
            background-color: v.$blanco;
        }

    }

    .enlace{
        color: v.$azul;
        font-weight: bold;
        font-size: 1.7rem;
        transition: all 300ms;

        &:hover{
            color: darken(v.$azul, 20%);
        }
    }
}