@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta{
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 1rem;
    color: v.$blanco;
    border-radius: .5rem;
    max-width: 100%;
    @include m.tablet{
        text-align: center;
        max-width: 80%;
    }

    &.error{
        background-color: v.$rojo;
    }
}